body{
    background: #DCC9E7;
    font-family: 'Nunito Sans', sans-serif;
    margin:0;
}

.header{
    margin-top: 0px;
    margin-left:0px;
    background: #8A25B1;
    height: 60px;
}
.search-box{
    position:absolute;
    top:2%;
    left:25%;
    width:240px;
    transform:translate(0%,-10%);
    background:#DCC9E7;
    border-radius:40px;
    padding:10px;
}
.no-bullet {
    list-style-type: none;
}
/*.search-box:hover > .search-txt{
    width:240px;
    padding: 0 6px;
}*/
/*.search-box:hover > .search-btn{
}*/
.search-txt{
    border:none;
    background:none;
    outline:none;
    float:left;
    padding:0;
    color:black;
    transition:0.4s;
    line-height:20px;
    padding: 0 6px;
    width:82%;
}
.search-btn{
    float: right;
    padding-right: 5%;
    width: 3%;
    height: 3%;
    border-radius: 50%;
}

.user-box{
    position:absolute;
    top: 2%;
    left: 3%;
    transform:translate(-10%,-10%);
    background: #DCC9E7;
    border-radius: 40px;
    padding: 10px;
}
.user-btn{
    float: top;
    width:20px;
    height:20px;
    border-radius:50%;
}

.log-out-box{
    position:absolute;
    top:2%;
    right:3%;
    transform:translate(-10%,-10%);
    background:#DCC9E7;
    border-radius:40px;
    padding:10px;
}
.log-out-btn{
    float: top;
    width:20px;
    height:20px;
    border-radius:50%;
}
.left {
    top: 60px;
    width:18%;
    height:92%;
    left: 0;
    position: fixed;
    right: 0;
    background:#DCC9E7;
    overflow-y: scroll
}
.center{
    top: 60px;
    width:32%;
    height:92%;
    left: 18%;
    position: fixed;
    right: 25%;
    background:#DDD;
    overflow-y: scroll
}
.right{
    top: 60px;
    width:50%;
    height:100%;
    left: 50%;
    position: fixed;
    right: 0;
    background:#DCC9E7;
}


{box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

.chat-box{
    height: 60%;
    background: #fff;
    padding: 25px;
    margin:20px auto;
    box-shadow: 0 3px #ccc;
    overflow-y: scroll
}
.chat-form{
    height: 10%;
    background: #1ddced;
}

.chat-logs{
    padding: 10px;
    width: 100%;
    height: 450px;
}
.chat{
    display: flex;
    flext-flow:row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
}
.chat .user-photo{
    width: 20%;
    height: 50px;
    border-radius: 50%;
}
.chat .chat-message{
    width:80%;
    padding: 15px;
    margin:5px 10px 0;
    border-radius: 10px;
    color:#fff;
    font-size:12px;
}
.friend .chat-message{
    background: #1adda4;
}
.self .chat-message{
    background: #1ddced;
    order: -1;
}
.chat-form{
    position:absolute;
    bottom: 10%;
    width: 93%;
    right: 1%;
    background:#8A25B1;
    border-radius:10px;
    padding:10px;
}
.chat-form textarea{
    background: #fbfbfb;
    width: 75%;
    height: 30px;
    border:2px solid #eee;
    border-radius: 3px;
    resize: none;
    padding: 10px;
    font-size: 12px;
    color: #333;
}
.send-box{
    position:absolute;
    top: 15%;
    right:3%;
    background:#DCC9E7;
    border-radius:40px;
    padding:10px;
}
.send-btn{
    width:20px;
    height:20px;
    border-radius:50%;
}